@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.mainProduct {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productWrapper {
    width: 1200px;
    background: #0f2a1d;
    color: #6b9071;
    padding: 20px;
    border: 3px solid #0f2a1d;
    outline: 4px solid #0f2a1d;
    animation: glowingBorder 3s infinite;
}

.defaultProductBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.defaultProductBox div {
    display: flex;
    width: 700px;
    margin: 20px;
    flex-direction: column;
}

.productImage {
    width: 70%;
}

.productBox {
    padding: 20px;
}

.productName {
    font-size: 50px;
}

.productPrice {
    font-size: 30px;
}

.string {
    font-size: 20px;
}

#buyButton {
    margin-top: 30px;
    width: fit-content;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #6b9071;
    cursor: pointer;
    color: #6b9071;
    border-radius: 5px;
    transition: 0.1s all;
    text-decoration: none;

    &:hover {
        background: #6b9071;
        color: #0f2a1d;
        border-color: #0f2a1d;
    }
}

#backToPage {
    display: flex;
    align-items: center;
    position: fixed;
    right: 20px;
    top: 100px;
    background: #0f2a1d;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-family: "Nunito", serif;
    gap: 10px;
    border: 3px solid #0f2a1d;
    outline: 4px solid #0f2a1d;
    animation: glowingBorder 3s infinite;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s all linear;
}

#backToPage:hover {
    box-shadow: 0 0 25px #00ff84;
}

#backToPage img {
    rotate: -90deg;
}

#errorGameMessage {
    position: fixed;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6b9071;
    background: #0f2a1d;
    backdrop-filter: blur(5px);
    width: 50%;
    font-weight: 700;
    padding: 20px;
    font-size: 35px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    transition: 1s all;
}

#errorGameMessage::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #6b9071;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 10px #6b9071;
}