* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#cardSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}


.gameCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    background: #fff;
    color: #6b9071;
    background: #0f2a1d;
    border: 3px solid #6b9071;
    outline: 4px solid #0f2a1d;
    border-radius: 10px;
    overflow: hidden;
    padding: 4px;
    animation: glowingBorder 3s infinite;
}

.gameCard img {
    width: 100%;
    border-radius: 5px;
}

.textCard {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productBtn {
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
    color: #6b9071;
    border-radius: 10px;
    transition: .4s all;

    &:hover {
        background: #0e251a;
        opacity: 0.8;
    }
}

.removeBtn {
    color: red;
}

.prdctsBtns {
    display: flex;
    gap: 15px;
    margin: 15px;
}

.productBtn img {
    width: 30px;
}

.productsSearch {
    margin-bottom: 50px;
    height: 30px;
    background: #0f2a1d;
    color: #6b9071;
    width: 35%;
    border: 3px solid #6b9071;
    outline: 4px solid #0f2a1d;
    padding: 5px 15px;
    font-size: 17px;
    border-radius: 10px;
    animation: glowingBorder 3s infinite;
    font-weight: 700;
}

.productsSearch::placeholder {
    color: #6b9071;
    font-weight: 700;
}

.categoryText {
    margin-top: 100px;
    margin-bottom: 20px;
    background: #0f2a1d;
    color: #6b9071;
    padding: 5px 200px;
    animation: glowingBorder 3s infinite;
    outline: 4px solid #0f2a1d;
    border-radius: 10px;
}

.categorySection {
    padding: 10px;
    display: flex;
    gap: 20px;
    width: 80%;
    overflow: auto;
    scroll-snap-type: x mandatory;
    background: #6b9071;
    animation: glowingBorder 3s infinite;
    outline: 3px solid #6b9071;
}



.categorySection::-webkit-scrollbar {
    height: 10px;
}

.categorySection::-webkit-scrollbar-thumb {
    background: #0f2a1d;
}

.categorySection::-webkit-scrollbar-track {
    background: #6b9071;
}

.categoryProductBtn {
    background: #0f2a1d;
    padding: 5px 15px;
    border-radius: 15px;
    color: #6b9071;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border: 3px solid #0f2a1d;
    outline: 4px solid #0f2a1d;
    animation: glowingBorder 3s infinite;
}

.categoryCard {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #0f2a1d;
    color: #6b9071;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.categoryCard img {
    width: 330px;
    
}

.scrollPart {
    height: 155vh;
    overflow-y: scroll;
    padding: 10px;
}

.scrollPart::-webkit-scrollbar {
    width: 10px;
    border: 1px solid #0f2a1d;
}

.scrollPart::-webkit-scrollbar-thumb {
    background: #6b9071;
    border-radius: 10px;
    border: 3px solid #6b9071;
    outline: 4px solid #0f2a1d;
}

.scrollPart::-webkit-scrollbar-track {
    background: #ccdbce;
    border: 3px solid #6b9071;
    outline: 4px solid #0f2a1d;
    border-radius: 10px;
}

#errorGameMessage {
    position: fixed;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffaa00;
    background: #0f2a1d;
    width: 50%;
    font-weight: 700;
    padding: 20px;
    font-size: 35px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: 1s all;
}

.errorGameMessage{
    animation: secondsAnimated 3s linear;
}

#errorGameMessage::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: #ffaa00;
    left: 0;
    bottom: 0;
}

@keyframes glowingBorder {
    0% {
        border: 3px solid #6b9071;
    }

    50% {
        border: 3px solid #00ff84;
    }

    100% {
        border: 3px solid #6b9071;
    }
}