@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", serif;
    background: #ccdbce;
}

/* ######## HEADER PART ######## */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background: #0f2a1d;
    transition: 0.5s ease-in-out;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.headLink {
    color: #6b9071;
    text-decoration: none;
    font-size: 17px;
    padding: 5px;
    transition: .4s ease-in-out;
}

.headLinks {
    display: flex;
    gap: 50px;
}

.logo {
    width: 60px;
    border-radius: 100%;
    border: #6b9071 solid 2px;
}

.headLink:hover {
    color: #aec3b0;
}

/* ######## HOTBAR PART ######## */

.hotbar {
    position: fixed;
    top: 80px;
    background: #0f2a1d;
    width: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 15px;
    transition: .3s all;
}

.hotbar-after {
    width: 160px;
    align-items: start;
}

.hotbar article {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hotbarButton {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
}

.hotbarLink {
    display: none;
    color: #6b9071;
    text-decoration: none;
    transition: 0.3s all;
    opacity: 0;
}

.hotbarLink:hover {
    color: #aec3b0;
}

.hotbarLink-after {
    display: block;
    opacity: 1;
}

.hotbarIcon {
    width: 30px;
}

/* ######## FORM PART ######## */

#loginBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    padding: 25px;
    transition: .7s ease-in-out;
}

form button {
    border: 2px solid #0f2a1d;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background: #0f2a1d;
    color: #6b9071;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 10px;
    transition: 0.4s all;
}

form button:hover {
    color: #0f2a1d;
    background: #6b9071;
}

form label {
    color: #0f2a1d;
    font-size: 18px;
    font-weight: 600;
}

form h1 {
    text-align: center;
}

form p {
    text-align: center;
    font-size: 18px;
    color: #0f2a1d;
}

form input {
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    background: none;
    color: #0f2a1d;
    padding: 7px;
    font-size: 16px;
    border-bottom: 2px solid #0f2a1d;
}

form input::placeholder {
    color: #0f2a1d;
}

.mainLogin {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background: #6b9071;
    width: fit-content;
    gap: 25px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid #0f2a1d;
}

.mainLogin article {
    position: relative;
}

.animatedPart {
    height: 100%;
    width: 50%;
    right: 0;
    background: #0f2a1d;
    position: absolute;
    transition: 1s all;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6b9071;
    border-radius: 9px;
}

.animatedPart-after {
    right: 50%;
}

.logIcon {
    width: 20px;
    border-radius: 999px;
    position: absolute;
    bottom: 18px;
    right: 14px;
}

.formText {
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    transition: .5s all;
    width: fit-content;
    margin: 5px 130px;
}

.formText:hover {
    color: #aec3b0;
    text-decoration: underline #aec3b0;
}

#registerForm {
    opacity: 0;
}